Modbus/flows.json
[
    {
        "id": "68387be6f693bc9f",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17471cabcec79d3a",
        "type": "mqtt in",
        "z": "68387be6f693bc9f",
        "name": "",
        "topic": "mqtt",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0199b4214f151f1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "5e72b9da169bbfcc",
                "c1a91ebae7efe712",
                "c14e26f1763f6a1e"
            ]
        ]
    },
    {
        "id": "5e72b9da169bbfcc",
        "type": "debug",
        "z": "68387be6f693bc9f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "c1a91ebae7efe712",
        "type": "ui_text",
        "z": "68387be6f693bc9f",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "température",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "87312a1bee2de672",
        "type": "mqtt out",
        "z": "68387be6f693bc9f",
        "name": "Ecran",
        "topic": "home/action/screen",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0199b4214f151f1f",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "f79a41baaecd6024",
        "type": "mqtt out",
        "z": "68387be6f693bc9f",
        "name": "Led",
        "topic": "home/action/led",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0199b4214f151f1f",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "101a44dd0999c555",
        "type": "mqtt in",
        "z": "68387be6f693bc9f",
        "name": "Mouvements",
        "topic": "home/event/moovments",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0199b4214f151f1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "6aed522a3b59d41a"
            ]
        ]
    },
    {
        "id": "a4a29d3f08d4b544",
        "type": "mqtt in",
        "z": "68387be6f693bc9f",
        "name": "Boutton",
        "topic": "home/event/button",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0199b4214f151f1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "6aed522a3b59d41a"
            ]
        ]
    },
    {
        "id": "d6ccc33cf88ded92",
        "type": "mqtt in",
        "z": "68387be6f693bc9f",
        "name": "Buzzer",
        "topic": "home/event/buzzer",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "0199b4214f151f1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "6aed522a3b59d41a"
            ]
        ]
    },
    {
        "id": "6aed522a3b59d41a",
        "type": "ui_text",
        "z": "68387be6f693bc9f",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Message",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "6c5b2726fdec2ef8",
        "type": "ui_button",
        "z": "68387be6f693bc9f",
        "name": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "action-screen",
        "payloadType": "str",
        "topic": "home/action/screen",
        "topicType": "msg",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "87312a1bee2de672"
            ]
        ]
    },
    {
        "id": "3986e19b43c35f97",
        "type": "ui_button",
        "z": "68387be6f693bc9f",
        "name": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "action-led",
        "payloadType": "str",
        "topic": "home/action/led",
        "topicType": "msg",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "f79a41baaecd6024"
            ]
        ]
    },
    {
        "id": "c14e26f1763f6a1e",
        "type": "function",
        "z": "68387be6f693bc9f",
        "name": "function 1",
        "func": "var temperature = msg.payload.temp;\nvar timestamp = msg.payload.time;\n\nmsg.payload = {\n    \"series\": [\"Température\"],\n    \"data\": [[{ \"x\": timestamp, \"y\": temperature }]],\n    \"labels\": [\"°C\"]\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "fc3d09ea9df2f78d"
            ]
        ]
    },
    {
        "id": "fc3d09ea9df2f78d",
        "type": "ui_chart",
        "z": "68387be6f693bc9f",
        "name": "",
        "group": "c7abf38b0b881ea6",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0199b4214f151f1f",
        "type": "mqtt-broker",
        "name": "Walle.local",
        "broker": "172.20.10.2",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c7abf38b0b881ea6",
        "type": "ui_group",
        "name": "Default",
        "tab": "507a4db87cd5a6e5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "507a4db87cd5a6e5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]